<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Task</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/first.js}"></script>
</head>
<body>
<div class="task-list-container">
    <h1 class="task-list-title">List of tasks</h1>
    <a th:href="@{/addTask}">Add</a>
    <ul>
        <li th:each="task : ${tasks}" class="task-item">
            <input type="checkbox" th:checked="${task.status}" class="task-completed"
                   th:attr="onchange='toggleTaskCompletion(\'' + ${task.id} + '\', this)'">

            <span th:text="${task.name}" class="task-description"></span>
            <button th:attr="onclick='deleteTask(\'' + ${task.id} + '\')'" class="delete-button">Delete</button>
        </li>
    </ul>


    <!-- Форма для добавления новой задачи -->




</div>

</body>
</html>